<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
        <!--<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />-->
        <link href="css/index.css" rel="stylesheet" />
        <link href="css/bootstrap.min.css" rel="stylesheet" />
        <link href="css/bootstrap-theme.min.css" rel="stylesheet" />
        <link href="css/bootstrap-misc.css" rel="stylesheet" />
        <link href="css/bootmetro.css" rel="stylesheet" />
        <link href="css/google-code-prettify/prettify.css" rel="stylesheet" />
        <title>TechCipher</title>
        
        <script type="text/javascript" src="js/vendor/angular.js"></script>
        <script type="text/javascript" src="js/vendor/angular-route.js"></script>        
        <script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/google-code-prettify/prettify.js"></script>        
    </head>
    <body>
        <div ng-app="tcApp">
            <div style="align-content:center" class="bs-box" ng-controller="indexCtrl">
                <table border="0" cellspacing="5px" width="100%">
                    <tr>
                        <td width="20px"><button type="button" class="btn btn btn-primary" ng-click="GoHome()" ng-class="homeBtnCss">Home</button></td>
                        <td align="center">
                            <img src="img/favicon.ico" />
                            Tech Cipher 1.0 <span class="badge">beta {{BackBtnCss}}</span>
                        </td>
                        <td width="20px"><button type="button" class="btn btn btn-primary" onclick="window.history.back();" ng-class="backBtnCss">Back</button></td>
                    </tr>
                    <!--<tr>
                        <td colspan="2">
                            {{tcdevicePixelRatio}}
                        </td>
                    </tr>-->
                </table>
            </div>
            <div ng-view></div>
           <!-- <hr />
            <div class="tabbable" ng-controller="sectionsCtrl">
            <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="section in sections" ng-class="{active:section.selected}">
                    <a href="" ng-click="showsection(sections, section)">{{section.caption}}</a>
                </li>
            </ul>
            </div>-->
        </div>
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>

        <script type="text/javascript" src="app/app.js"></script>
        <!-- Directives -->  
        <script src="app/sections/sectionsElement.js"></script>
        <script src="app/categories/categoriesElement.js"></script>
        <script src="app/subcategories/subcategoriesElement.js"></script>
        <script src="app/articles/articlesElement.js"></script>
        <script src="app/article/articleElement.js"></script>
        <!-- Controllers -->    
        <script src="app/sections/sectionsCtrl.js"></script>
        <script src="app/categories/categoriesCtrl.js"></script>
        <script src="app/subcategories/subcategoriesCtrl.js"></script>
        <script src="app/articles/articlesCtrl.js"></script>
        <script src="app/article/articleCtrl.js"></script>
        <script src="app/controllers/allCtrl.js"></script>
        <!-- Services -->
        <script src="app/services/dataService.js"></script>
        <script type="text/javascript">
            app.initialize();
        </script>
    </body>
</html>
